<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <title>Starling UI - Badge - Rohit Gaur</title>
    <link rel="stylesheet" href="/pages/style.css" />
    <link rel="stylesheet" href="/utils/color.css" />
    <link rel="stylesheet" href="./badge.css" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <h1>Badge</h1>
      <p class="sui_doc_p">
        generates a small badge at the bottom-left / bottom-right of an avatar and at the top-right of an icon.
      </p>
      <p id="rem_notice" class="sui_doc_p">
        Note: I have set the root font-size to 10px for this library.
      </p>
      <p class="sui_doc_p">
        Instructions to import the Badge component in your CSS or HTML:
      </p>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-css">
          // CSS
          @import url("https://starlingui.netlify.app/utils/color.css");
          @import url("https://starlingui.netlify.app/pages/components/badge/badge.css");
        </script>
        <script type="text/plain" class="line-numbers language-html">
          // HTML
          <link rel="stylesheet" href="https://starlingui.netlify.app/utils/color.css">
          <link rel="stylesheet" href="https://starlingui.netlify.app/pages/components/badge/badge.css">
        </script>
      </div>

      <!-- STATUS & ICON BADGE -->
      <h2 class="sui_doc_subtitle">Status & Icon Badge</h2>
      <p class="sui_doc_p">has 4 sizes, 3 colors and 2 position options:</p>
      <span>
        <pre><b class="bd_red">bd_red</b></pre>
        <pre><b class="bd_green">bd_green</b></pre>
        <pre><b class="bd_gray">bd_gray</b></pre>
      </span>
      <span>
        <pre><b>bd_left:</b> left position</pre>
        <pre><b>bd_xl:</b> 3.5rem</pre>
        <pre><b>bd_lg:</b> 3rem</pre>
        <pre><b>bd_md:</b> 2.5rem</pre>
        <pre><b>bd_sm:</b> 2rem</pre>
      </span>
      <div class="sui_avatar_wrapper">
        <div class="sui_avatar av_xl av_txt">
          <img src="/assets/avatars/av1.svg" alt="demo avatar" />
          <i class="av_badge bd_left bd_xl bd_red"></i>
        </div>
        <div class="sui_avatar av_xl">
          <img src="/assets/avatars/av2.svg" alt="demo avatar" />
          <i class="av_badge bd_xl bd_green"></i>
        </div>
        <div class="sui_avatar av_lg">
          <img src="/assets/avatars/av3.svg" alt="demo avatar" />
          <i class="av_badge bd_lg bd_gray"></i>
        </div>
        <div class="sui_avatar av_md">
          <img src="/assets/avatars/av1.svg" alt="demo avatar" />
          <i class="av_badge bd_md bd_red"></i>
        </div>
        <div class="sui_avatar av_sm">
          <img src="/assets/avatars/av2.svg" alt="demo avatar" />
          <i class="av_badge bd_sm bd_green"></i>
        </div>
        <div class="sui_avatar">
          <i class="fas fa-shopping-cart"></i>
          <div class="bd_num bd_red">8</div>
        </div>
        <div class="sui_avatar">
          <i class="fas fa-shopping-cart"></i>
          <div class="bd_num bd_red">888+</div>
        </div>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <div class="sui_avatar av_xl">
            <img src=".." alt=".." />
            <!-- Left position | XL size | Red color -->
            <i class="av_badge bd_left bd_xl bd_red"></i>
          </div>

          <div class="sui_avatar">
            <img src=".." alt=".." />
            <!-- Top-Right position | Red color -->
            <div class="bd_num bd_red">8</div>
          </div>
        </script>
      </div>

      <!-- SQUARE STATUS BADGE -->
      <h2 class="sui_doc_subtitle">Square Status Badge</h2>
      <p class="sui_doc_p">
        similar to the Status Badge, with a different shape:
      </p>
      <div class="sui_avatar_wrapper">
        <div class="sui_avatar av_xl av_square">
          <img src="/assets/avatars/av1.svg" alt="demo avatar" />
          <i class="av_badge bd_left bd_xl bd_red"></i>
        </div>
        <div class="sui_avatar av_xl av_square">
          <img src="/assets/avatars/av2.svg" alt="demo avatar" />
          <i class="av_badge bd_xl bd_green"></i>
        </div>
        <div class="sui_avatar av_lg av_square">
          <img src="/assets/avatars/av3.svg" alt="demo avatar" />
          <i class="av_badge bd_lg bd_gray"></i>
        </div>
        <div class="sui_avatar av_md av_square">
          <img src="/assets/avatars/av1.svg" alt="demo avatar" />
          <i class="av_badge bd_md bd_red"></i>
        </div>
        <div class="sui_avatar av_sm av_square">
          <img src="/assets/avatars/av2.svg" alt="demo avatar" />
          <i class="av_badge bd_sm bd_green"></i>
        </div>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <div class="sui_avatar av_xl av_square">
            <img src=".." alt=".." />
            <!-- Left position | XL size | Red color -->
            <i class="av_badge bd_left bd_xl bd_red"></i>
          </div>

          <div class="sui_avatar av_lg av_square">
            <img src=".." alt=".." />
            <!-- L size | Gray color -->
            <i class="av_badge bd_lg bd_gray"></i>
          </div>
        </script>
      </div>
    </main>
    <script src="/utils/prism.js"></script>
    <script src="/pages/nav.js"></script>
  </body>
</html>
