<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <title>Starling UI - Badge - Rohit Gaur</title>
    <link rel="stylesheet" href="/pages/style.css" />
    <link rel="stylesheet" href="./badge.css" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <h1>Badge</h1>
      <p id="rem_notice" class="sui_doc_p">
        Note: I have set the root font-size to 10px for this library.
      </p>
      <p class="sui_doc_p">
        Instructions to import the Badge component in your CSS or HTML:
      </p>

      <div class="iframe_wrapper">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/fvQeJu6tdQSW2kS9oXnM"
            style="
              width: 746px;
              height: 160px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </code>
      </div>

      <!-- STATUS & ICON BADGE -->
      <h2 class="sui_doc_subtitle">Status & Icon Badge</h2>
      <p class="sui_doc_p">has 4 sizes, 3 colors and 2 position options:</p>
      <span>
        <pre><b class="bd_red">bd_red</b></pre>
        <pre><b class="bd_green">bd_green</b></pre>
        <pre><b class="bd_gray">bd_gray</b></pre>
      </span>
      <span>
        <pre><b>bd_left:</b> left position</pre>
        <pre><b>bd_xl:</b> 3.5rem</pre>
        <pre><b>bd_l:</b> 3rem</pre>
        <pre><b>bd_m:</b> 2.5rem</pre>
        <pre><b>bd_s:</b> 2rem</pre>
      </span>
      <div class="sui_avatar_wrapper">
        <div class="sui_avatar av_xl av_txt">
          <img src="/assets/avatars/av1.svg" alt="" />
          <i class="av_badge bd_left bd_xl bd_red"></i>
        </div>
        <div class="sui_avatar av_xl">
          <img src="/assets/avatars/av2.svg" alt="" />
          <i class="av_badge bd_xl bd_green"></i>
        </div>
        <div class="sui_avatar av_l">
          <img src="/assets/avatars/av3.svg" alt="" />
          <i class="av_badge bd_l bd_gray"></i>
        </div>
        <div class="sui_avatar av_m">
          <img src="/assets/avatars/av1.svg" alt="" />
          <i class="av_badge bd_m bd_red"></i>
        </div>
        <div class="sui_avatar av_s">
          <img src="/assets/avatars/av2.svg" alt="" />
          <i class="av_badge bd_s bd_green"></i>
        </div>
        <div class="sui_avatar">
          <img src="/assets/svg/cart.svg" alt="" />
          <div class="bd_num bd_red">8</div>
        </div>
      </div>

      <div class="iframe_wrapper">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/7aSu22X9wrtUtsMQ8oPD"
            style="
              width: 392px;
              height: 280px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </code>
      </div>

      <!-- SQUARE STATUS BADGE -->
      <h2 class="sui_doc_subtitle">Square Status Badge</h2>
      <p class="sui_doc_p">
        similar to the Status Badge, with a different shape:
      </p>
      <div class="sui_avatar_wrapper">
        <div class="sui_avatar av_xl av_square">
          <img src="/assets/avatars/av1.svg" alt="" />
          <i class="av_badge bd_left bd_xl bd_red"></i>
        </div>
        <div class="sui_avatar av_xl av_square">
          <img src="/assets/avatars/av2.svg" alt="" />
          <i class="av_badge bd_xl bd_green"></i>
        </div>
        <div class="sui_avatar av_l av_square">
          <img src="/assets/avatars/av3.svg" alt="" />
          <i class="av_badge bd_l bd_gray"></i>
        </div>
        <div class="sui_avatar av_m av_square">
          <img src="/assets/avatars/av1.svg" alt="" />
          <i class="av_badge bd_m bd_red"></i>
        </div>
        <div class="sui_avatar av_s av_square">
          <img src="/assets/avatars/av2.svg" alt="" />
          <i class="av_badge bd_s bd_green"></i>
        </div>
      </div>

      <div class="iframe_wrapper">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/iWvme5jRomMpAi4z6Hhx"
            style="
              width: 392px;
              height: 280px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </code>
      </div>
    </main>
    <script src="/pages/nav.js"></script>
  </body>
</html>
