@import url("/pages/components/avatar/avatar.css");

.sui_avatar {
  position: relative;
  overflow: initial;
}
.sui_avatar img {
  border-radius: 50%;
  overflow: hidden;
}
.av_square img {
  border-radius: 10px;
}
.av_badge {
  position: absolute;
  border-radius: 50%;
  border: 5px solid var(--BG);
  bottom: 0;
  right: 0;
}
.bd_num {
  color: var(--BG);
  font-size: 1.2rem;
  position: absolute;
  font-weight: 600;
  top: -10px;
  left: 1.8rem;
  border-radius: 8px;
  padding: 0 5px;
}
.av_square .av_badge {
  border-radius: 10px;
  bottom: -5px;
  right: -5px;
}
.av_square .av_badge.bd_left {
  left: -5px;
}
.bd_left {
  left: 0;
}
.bd_xl {
  width: 3.5rem;
  height: 3.5rem;
}
.bd_l {
  width: 3rem;
  height: 3rem;
}
.bd_m {
  width: 2.5rem;
  height: 2.5rem;
}
.bd_s {
  width: 2rem;
  height: 2rem;
}
.bd_green {
  background: yellowgreen;
}
.bd_gray {
  background: gray;
}
.bd_red {
  background: red;
}
