@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  height: 100vh;
  padding: 0;
  margin: 0;
  --PRIMARY-P5: #000063;
  --PRIMARY-P4: #00007c;
  --PRIMARY-P3: #150096;
  --PRIMARY-P2: #2e13af;
  --PRIMARY-P1: #482dc9;
  --PRIMARY: #6146e2;
  --PRIMARY-M1: #7b60fc;
  --PRIMARY-M2: #9479ff;
  --PRIMARY-M3: #ae93ff;
  --PRIMARY-M4: #c7acff;
  --PRIMARY-M5: #e0c5ff;

  --PRIMARY-BG: #f6edff;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
