<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <title>Starling UI - Alert - Rohit Gaur</title>
    <link rel="stylesheet" href="/pages/style.css" />
    <link rel="stylesheet" href="/utils/color.css" />
    <link rel="stylesheet" href="./alert.css" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <h1>Alert</h1>
      <p id="rem_notice" class="sui_doc_p">
        Note: I have set the root font-size to 10px for this library.
      </p>
      <p class="sui_doc_p">
        Instructions to import the Alert component in your CSS or HTML:
      </p>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-css">
          // CSS
          @import url("https://starlingui.netlify.app/utils/color.css");
          @import url("https://starlingui.netlify.app/pages/components/alert/alert.css");
        </script>
        <script type="text/plain" class="line-numbers language-html">
          // HTML
          <link rel="stylesheet" href="https://starlingui.netlify.app/utils/color.css">
          <link rel="stylesheet" href="https://starlingui.netlify.app/pages/components/alert/alert.css">
        </script>
      </div>

      <h2 class="sui_doc_subtitle">Simple Alert</h2>
      <p class="sui_doc_p">has 4 types:</p>
      <span>
        <pre><b class="sui_alert_types al_info">al_info</b></pre>
        <pre><b class="sui_alert_types al_success">al_success</b></pre>
        <pre><b class="sui_alert_types al_warning">al_warning</b></pre>
        <pre><b class="sui_alert_types al_danger">al_danger</b></pre>
      </span>
      <div class="sui_alert_wrapper">
        <div class="sui_alert al_info">This is a simple info Alert</div>
        <div class="sui_alert al_success">This is a simple success Alert</div>
        <div class="sui_alert al_warning">This is a simple warning Alert</div>
        <div class="sui_alert al_danger">This is a simple danger Alert</div>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <div class="sui_alert al_info">This is a simple info Alert</div>
          <div class="sui_alert al_success">This is a simple success Alert</div>
          <div class="sui_alert al_warning">This is a simple warning Alert</div>
          <div class="sui_alert al_danger">This is a simple danger Alert</div>
        </script>
      </div>

      <h2 class="sui_doc_subtitle">Standard Alert</h2>
      <p class="sui_doc_p">
        in addition to the simple alert, it has an icon and close button:
      </p>

      <div class="sui_alert_wrapper">
        <div class="sui_alert al_info">
          <img src="/assets/svg/info.svg" alt="info icon" />
          info Alert with icon and close button
          <button class="al_close">&#x2715;</button>
        </div>
        <div class="sui_alert al_success">
          <img src="/assets/svg/success.svg" alt="success icon" />
          success Alert with icon and close button
          <button class="al_close">&#x2715;</button>
        </div>
        <div class="sui_alert al_warning">
          <img src="/assets/svg/warning.svg" alt="warning icon" />
          warning Alert with icon and close button
          <button class="al_close">&#x2715;</button>
        </div>
        <div class="sui_alert al_danger">
          <img src="/assets/svg/danger.svg" alt="danger icon" />
          danger Alert with icon and close button
          <button class="al_close">&#x2715;</button>
        </div>
      </div>
      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <div class="sui_alert al_info">
            <img src="/assets/svg/info.svg" alt="info icon" />
            <!-- Your alert message comes here.. -->
            info Alert with icon and close button
            <button class="al_close">&#x2715;</button>
          </div>

          <div class="sui_alert al_success">
            <!-- Default icons are provided, you can change them if you wish -->
            <img src="/assets/svg/success.svg" alt="success icon" />
            success Alert with icon and close button
            <button class="al_close">&#x2715;</button>
          </div>

          <div class="sui_alert al_warning">
            <img src="/assets/svg/warning.svg" alt="warning icon" />
            warning Alert with icon and close button
            <button class="al_close">&#x2715;</button>
          </div>

          <div class="sui_alert al_danger">
            <img src="/assets/svg/danger.svg" alt="danger icon" />
            danger Alert with icon and close button
            <button class="al_close">&#x2715;</button>
          </div>
        </script>
      </div>
    </main>
    <script src="/utils/prism.js"></script>
    <script src="/pages/nav.js"></script>
  </body>
</html>
