<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <title>Starling UI - Alert - Rohit Gaur</title>
    <link rel="stylesheet" href="/pages/style.css" />
    <link rel="stylesheet" href="/utils/color.css" />
    <link rel="stylesheet" href="./alert.css" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <h1>Alert</h1>
      <p class="sui_doc_p">
        displays a short, important message in a way that attracts the user's
        attention without interrupting the user's task.
      </p>
      <p id="rem_notice" class="sui_doc_p">
        Note: I have set the root font-size to 10px for this library.
      </p>
      <p class="sui_doc_p">
        Instructions to import the Alert component in your CSS or HTML:
      </p>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-css">
          // CSS
          @import url("https://starlingui.netlify.app/utils/color.css");
          @import url("https://starlingui.netlify.app/pages/components/alert/alert.css");
        </script>
        <script type="text/plain" class="line-numbers language-html">
          // HTML
          <link rel="stylesheet" href="https://starlingui.netlify.app/utils/color.css">
          <link rel="stylesheet" href="https://starlingui.netlify.app/pages/components/alert/alert.css">
        </script>
      </div>

      <h2 class="sui_doc_subtitle">Simple Alert</h2>
      <p class="sui_doc_p">has 4 types:</p>
      <span>
        <pre><b class="sui_alert_types alert_info">alert_info</b></pre>
        <pre><b class="sui_alert_types alert_success">alert_success</b></pre>
        <pre><b class="sui_alert_types alert_warning">alert_warning</b></pre>
        <pre><b class="sui_alert_types alert_danger">alert_danger</b></pre>
      </span>
      <div class="sui_alert_wrapper">
        <div class="sui_alert alert_info">
          This is a simple info Alert
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="sui_alert alert_success">
          This is a simple success Alert
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="sui_alert alert_warning">
          This is a simple warning Alert
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="sui_alert alert_danger">
          This is a simple danger Alert
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Info Alert -->
          <div class="sui_alert alert_info">
            This is a simple info Alert
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Success Alert -->
          <div class="sui_alert alert_success">
            This is a simple success Alert
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Warning Alert -->
          <div class="sui_alert alert_warning">
            This is a simple warning Alert
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Danger Alert -->
          <div class="sui_alert alert_danger">
            This is a simple danger Alert
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
      </div>

      <h2 class="sui_doc_subtitle">Standard Alert</h2>
      <p class="sui_doc_p">in addition to the simple alert, it has an icon:</p>

      <div class="sui_alert_wrapper">
        <div class="sui_alert alert_info">
          <i class="fas fa-info-circle"></i>
          info Alert with icon and close button
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="sui_alert alert_success">
          <i class="fas fa-check-circle"></i>
          success Alert with icon and close button
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="sui_alert alert_warning">
          <i class="fas fa-exclamation-circle"></i>
          warning Alert with icon and close button
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="sui_alert alert_danger">
          <i class="fas fa-exclamation-triangle"></i>
          danger Alert with icon and close button
          <button class="btn_icon_fa">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Info Alert -->
          <div class="sui_alert alert_info">
            <i class="fas fa-info-circle"></i>
            <!-- Your alert message comes here.. -->
            info Alert with icon and close button
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Success Alert -->
          <div class="sui_alert alert_success">
            <!-- Font Awesome icons are used, you can change them if you wish -->
            <i class="fas fa-check-circle"></i>
            success Alert with icon and close button
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Warning Alert -->
          <div class="sui_alert alert_warning">
            <i class="fas fa-exclamation-circle"></i>
            warning Alert with icon and close button
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
        <script type="text/plain" class="line-numbers language-markup">
          <!-- Danger Alert -->
          <div class="sui_alert alert_danger">
            <i class="fas fa-exclamation-triangle"></i>
            danger Alert with icon and close button
            <button class="btn_icon_fa">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </script>
      </div>
    </main>
    <script src="/utils/prism.js"></script>
    <script src="/pages/nav.js"></script>
  </body>
</html>
