<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <title>Starling UI - Avatar - Rohit Gaur</title>
    <link rel="stylesheet" href="/pages/style.css" />
    <link rel="stylesheet" href="./avatar.css" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <h1>Avatar</h1>
      <p id="rem_notice" class="sui_doc_p">
        Note: I have set the root font-size to 10px for this library.
      </p>
      <p class="sui_doc_p">
        Instructions to import the Avatar component in your CSS or HTML:
      </p>

      <div class="iframe_wrapper">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/nPRJTnWQQZ0H20RD6rzZ"
            style="
              width: 760px;
              height: 170px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </code>
      </div>

      <!-- PROFILE AVATAR -->
      <h2 class="sui_doc_subtitle">Profile Avatar</h2>
      <p class="sui_doc_p">has 6 different sizes:</p>
      <span>
        <pre><b>av_xxl:</b> 14rem</pre>
        <pre><b>av_xl:</b> 12rem</pre>
        <pre><b>av_l:</b> 10rem</pre>
        <pre><b>av_m:</b> 8rem</pre>
        <pre><b>av_s:</b> 6rem</pre>
        <pre><b>av_xs:</b> 4rem</pre>
      </span>
      <div class="sui_avatar_wrapper">
        <div class="sui_avatar av_xxl">
          <img src="/assets/avatars/av1.svg" alt="" />
        </div>
        <div class="sui_avatar av_xl">
          <img src="/assets/avatars/av2.svg" alt="" />
        </div>
        <div class="sui_avatar av_l">
          <img src="/assets/avatars/av3.svg" alt="" />
        </div>
        <div class="sui_avatar av_m">
          <img src="/assets/avatars/av1.svg" alt="" />
        </div>
        <div class="sui_avatar av_s">
          <img src="/assets/avatars/av2.svg" alt="" />
        </div>
        <div class="sui_avatar av_xs">
          <img src="/assets/avatars/av3.svg" alt="" />
        </div>
      </div>

      <div class="iframe_wrapper">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/CYU5ZjUmb9O8Pg8346cC"
            style="
              width: 272px;
              height: 230px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </code>
      </div>

      <!-- SQUARE AVATAR -->
      <h2 class="sui_doc_subtitle">Square Avatar</h2>
      <p class="sui_doc_p">
        similar to the Profile Avatar, with a different shape:
      </p>
      <span>
        <pre><b>av_xxl:</b> 14rem</pre>
        <pre><b>av_xl:</b> 12rem</pre>
        <pre><b>av_l:</b> 10rem</pre>
        <pre><b>av_m:</b> 8rem</pre>
        <pre><b>av_s:</b> 6rem</pre>
        <pre><b>av_xs:</b> 4rem</pre>
      </span>
      <div class="sui_avatar_wrapper">
        <div class="sui_avatar av_xxl av_square">
          <img src="/assets/avatars/av1.svg" alt="" />
        </div>
        <div class="sui_avatar av_xl av_square">
          <img src="/assets/avatars/av2.svg" alt="" />
        </div>
        <div class="sui_avatar av_l av_square">
          <img src="/assets/avatars/av3.svg" alt="" />
        </div>
        <div class="sui_avatar av_m av_square">
          <img src="/assets/avatars/av1.svg" alt="" />
        </div>
        <div class="sui_avatar av_s av_square">
          <img src="/assets/avatars/av2.svg" alt="" />
        </div>
        <div class="sui_avatar av_xs av_square">
          <img src="/assets/avatars/av3.svg" alt="" />
        </div>
      </div>

      <div class="iframe_wrapper">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/oaDUl3D4Ho7pJI67Cy7L"
            style="
              width: 339px;
              height: 240px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </code>
      </div>

      <!-- TEXT AVATAR -->
      <h2 class="sui_doc_subtitle">Text Avatar</h2>
      <p class="sui_doc_p">can be Profile or Square, has 3 color variants:</p>
      <span>
        <pre><b class="sui_v1">sui_v1</b></pre>
        <pre><b class="sui_v2">sui_v2</b></pre>
        <pre><b class="sui_v3">sui_v3</b></pre>
      </span>
      <div class="sui_avatar_wrapper">
        <div class="sui_avatar av_xxl av_txt sui_v1">
          <h2>RG</h2>
        </div>
        <div class="sui_avatar av_xl av_txt av_square sui_v2">
          <h2>AL</h2>
        </div>
        <div class="sui_avatar av_l av_txt sui_v3">
          <h2>SG</h2>
        </div>
      </div>

      <div class="iframe_wrapper">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/jhQye0TObexSQ6aov6DJ"
            style="
              width: 444px;
              height: 224px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </code>
      </div>
    </main>
    <script src="/pages/nav.js"></script>
  </body>
</html>
