.sui_avatar {
  display: flex;
}
.av_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.av_txt h2 {
  color: var(--BLACK);
}
.sui_avatar {
  border-radius: 50%;
  overflow: hidden;
}
.av_square {
  border-radius: 10px;
}
.av_xxl {
  width: 14rem;
  height: 14rem;
}
.av_xxl h2 {
  font-size: 7rem;
}
.av_xl {
  width: 12rem;
  height: 12rem;
}
.av_xl h2 {
  font-size: 6rem;
}
.av_l {
  width: 10rem;
  height: 10rem;
}
.av_l h2 {
  font-size: 5rem;
}
.av_m {
  width: 8rem;
  height: 8rem;
}
.av_m h2 {
  font-size: 4rem;
}
.av_s {
  width: 6rem;
  height: 6rem;
}
.av_s h2 {
  font-size: 3rem;
}
.av_xs {
  width: 4rem;
  height: 4rem;
}
.av_xs h2 {
  font-size: 2rem;
}
