.sui_card {
  margin-left: 1px;
  width: 25rem;
  height: fit-content;
  box-shadow: 0 0 1px 0 var(--TEXT);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.card_badge .card_overlay {
  display: initial;
}
.card_img_wrapper {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.card_img_wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card_overlay {
  position: absolute;
  top: 10px;
  padding: 5px;
  font-size: 1.2rem;
  color: var(--WHITE);
  background: var(--PRICE-OFFER);
  border-radius: 0 8px 8px 0;
  cursor: default;
  transition: all ease 0.2s;
  display: none;
}
.sui_card:hover .card_overlay {
  transform: scale(1.05) translate(1px, 1px);
  font-weight: 500;
}
.card_content_wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.card_content_title,
.card_content_seller {
  font-weight: 600;
}
.card_content_title {
  max-height: 2.5rem;
  overflow: hidden;
  font-size: 1.6rem;
}
.card_content_title::after {
  content: attr(fulltext);
  position: absolute;
  top: 0;
  left: 50%;
  background: var(--BG);
  font-weight: 400;
  font-size: 1.4rem;
  width: 0;
  opacity: 0;
  padding: 2px 5px;
  text-align: center;
  transition: all ease 0.6s;
}
.card_content_title:hover::after {
  content: attr(fulltext);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--PRIMARY-LIGHT3);
  border-radius: 0 0 5rem 5rem;
  color: var(--WHITE);
  font-weight: 400;
  font-size: 1.4rem;
  width: 100%;
  opacity: 0.9;
  text-align: center;
}
.card_content_seller {
  font-size: 1.2rem;
}
.card_content_desc {
  padding: 5px 0;
  display: none;
  font-size: 1.6rem;
}
.card_content_text {
  padding: 5px 0;
  font-size: 1.2rem;
  text-align: justify;
}
.card_text_date {
  font-weight: 500;
}
.card_cta {
  display: flex;
  gap: 5px;
  padding-top: 5px;
  flex-direction: column;
  justify-content: space-between;
}
.card_cta_text {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.card_price {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-end;
}
.card_price_old {
  opacity: 0.5;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: line-through;
  padding-bottom: 3px;
}
.card_price_off {
  color: var(--PRICE-OFFER);
}
.sui_btn {
  width: 100%;
}
.card_list {
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  height: 20rem;
}
.card_list .card_content_title::after {
  content: "";
  padding: 0;
}
.card_list .card_content_title:hover::after {
  content: "";
  padding: 0;
}
.card_list .card_img_wrapper,
.card_list .card_img_wrapper img {
  width: auto;
  height: 100%;
}
.card_list .card_content_title {
  overflow: hidden;
}
.card_list .card_content_desc {
  max-height: 3rem;
  display: initial;
  overflow: hidden;
}
.card_list .card_cta {
  align-items: flex-start;
}
.card_list .sui_btn {
  padding: 5px 15px;
  font-size: 1.6rem;
  width: fit-content;
}
