@import url("/utils/reset.css");
@import url("/utils/color.css");
@import url("/utils/prism.css");
@import url("/pages/nav.css");
@import url("/pages/components/button/button.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
/* Content Styling */
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
main h1 {
  font-size: 4rem;
}
#rem_notice {
  color: var(--PRIMARY);
  cursor: pointer;
}
#rem_notice::after {
  content: "";
  background: var(--PRIMARY-M3);
  position: absolute;
  top: 5rem;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
#rem_notice:hover::after {
  content: "eg: 6rem = 6 x root font-size = 6 x 10px = 60px";
  background: var(--PRIMARY-M3);
  padding: 5px 1rem;
  border-radius: 5px;
  position: absolute;
  top: 3rem;
  color: var(--BG);
}
/************* Prism JS Highlight CSS override START *****************/
.code_wrapper {
  font-size: 1.4rem;
  overflow: auto;
  width: 90%;
  margin: 3rem 0 4rem 0;
  background: var(--CARBON);
  border-radius: 8px;
}
.code_wrapper .code-toolbar pre {
  background: none;
}
.code_wrapper .code-toolbar .language-css,
.code_wrapper .code-toolbar .language-html {
  color: var(--CODE-COMMENT);
}
.code_wrapper .code-toolbar .language-css .token.atrule {
  color: var(--CODE-ORANGE);
}
.code_wrapper .code-toolbar .language-css .token.function {
  color: var(--CODE-BLUE);
}
.code_wrapper .code-toolbar .language-css .token.url {
  color: var(--CODE-GREEN);
}
.code_wrapper .code-toolbar .language-markup {
  color: var(--VARIANT-3P1);
}
.code_wrapper .code-toolbar .token.tag {
  color: var(--CODE-BLUE);
}
.code_wrapper .code-toolbar .token.attr-name {
  color: var(--CODE-ORANGE);
}
.code_wrapper .code-toolbar .token.attr-value {
  color: var(--CODE-GREEN);
}
.code_wrapper .toolbar .toolbar-item .copy-to-clipboard-button {
  color: var(--WHITE);
  background: var(--PRIMARY-M3);
  padding: 5px 10px;
  margin-right: 10px;
}
.code_wrapper .toolbar .toolbar-item .copy-to-clipboard-button:hover {
  cursor: pointer;
}
.code_wrapper .code-toolbar .toolbar {
  opacity: 0.7;
}
.line-numbers span {
  display: revert;
}
.line-numbers .token.punctuation {
  color: var(--CODE-ORANGE);
}
/************* Prism JS Highlight CSS override END *****************/
main .sui_doc_subtitle {
  font-size: 2rem;
}
main .sui_doc_p {
  font-size: 1.6rem;
}
main span {
  display: flex;
  flex-wrap: wrap;
}
main pre {
  font-size: 1.4rem;
  padding-right: 2rem;
}
pre b {
  background: var(--PRIMARY-M3);
  color: var(--BG);
  border-radius: 5px;
  padding: 5px;
}
.sui_avatar_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 2rem;
  padding-top: 2rem;
}
.sui_badge_icon img {
  width: fit-content;
}
.sui_alert_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  width: 90%;
}
.sui_alert_types {
  color: initial;
  font-weight: 300;
}
.sui_btn_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
}
.sui_btn_float::before {
  color: var(--WHITE);
  font-size: 2rem;
  content: "";
  background: var(--PRIMARY-M3);
  border-radius: 5px;
  position: fixed;
  bottom: 9rem;
  right: 9rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.sui_btn_float:hover::before {
  content: "I am a floating button";
  position: fixed;
  bottom: 9rem;
  right: 11rem;
  padding: 1rem 1.5rem;
}
.sui_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
