<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <title>Starling UI - Button - Rohit Gaur</title>
    <link rel="stylesheet" href="/pages/style.css" />
    <link rel="stylesheet" href="/utils/color.css" />
    <link rel="stylesheet" href="./button.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/utils/prism.css" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <h1>Button</h1>
      <p id="rem_notice" class="sui_doc_p">
        Note: I have set the root font-size to 10px for this library.
      </p>
      <p class="sui_doc_p">
        Instructions to import the Button component in your CSS or HTML:
      </p>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-css">
          // CSS
          @import url("https://starlingui.netlify.app/utils/color.css");
          @import url("https://starlingui.netlify.app/pages/components/button/button.css");
        </script>
        <script type="text/plain" class="line-numbers language-html">
          // HTML
          <link rel="stylesheet" href="https://starlingui.netlify.app/utils/color.css">
          <link rel="stylesheet" href="https://starlingui.netlify.app/pages/components/button/button.css">
        </script>
      </div>

      <!-- Standard Buttons START -->
      <h2 class="sui_doc_subtitle">Standard Button</h2>
      <p class="sui_doc_p">has 4 colors:</p>
      <div class="sui_btn_wrapper">
        <button class="sui_btn">Standard Button</button>
        <button class="sui_btn btn_v1">Standard Variant 1</button>
        <button class="sui_btn btn_v2">Standard Variant 2</button>
        <button class="sui_btn btn_v3">Standard Variant 3</button>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <button class="sui_btn">Standard Button</button>
          <button class="sui_btn btn_v1">Standard Variant 1</button>
          <button class="sui_btn btn_v2">Standard Variant 2</button>
          <button class="sui_btn btn_v3">Standard Variant 3</button>
        </script>
      </div>
      <!-- Standard Buttons END -->

      <!-- Rounded Buttons START -->
      <h2 class="sui_doc_subtitle">Rounded Button</h2>
      <p class="sui_doc_p">similar to standard button, with rounded edges</p>
      <div class="sui_btn_wrapper">
        <button class="sui_btn btn_rnd">Rounded Button</button>
        <button class="sui_btn btn_rnd btn_v1">Rounded Variant 1</button>
        <button class="sui_btn btn_rnd btn_v2">Rounded Variant 2</button>
        <button class="sui_btn btn_rnd btn_v3">Rounded Variant 3</button>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <button class="sui_btn btn_rnd">Rounded Button</button>
          <button class="sui_btn btn_rnd btn_v1">Rounded Variant 1</button>
          <button class="sui_btn btn_rnd btn_v2">Rounded Variant 2</button>
          <button class="sui_btn btn_rnd btn_v3">Rounded Variant 3</button>
        </script>
      </div>
      <!-- Rounded Buttons END -->

      <!-- Rounded Fill Buttons START -->
      <h2 class="sui_doc_subtitle">Rounded Fill Button</h2>
      <p class="sui_doc_p">
        similar to rounded button, with a background fill on hover
      </p>
      <div class="sui_btn_wrapper">
        <button class="sui_btn btn_rnd btn_fill">Rounded Fill Button</button>
        <button class="sui_btn btn_rnd btn_fill btn_v1">Rounded Fill V1</button>
        <button class="sui_btn btn_rnd btn_fill btn_v2">Rounded Fill V2</button>
        <button class="sui_btn btn_rnd btn_fill btn_v3">Rounded Fill V3</button>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <button class="sui_btn btn_rnd btn_fill">Rounded Fill Button</button>
          <button class="sui_btn btn_rnd btn_fill btn_v1">Rounded Fill V1</button>
          <button class="sui_btn btn_rnd btn_fill btn_v2">Rounded Fill V2</button>
          <button class="sui_btn btn_rnd btn_fill btn_v3">Rounded Fill V3</button>
        </script>
      </div>
      <!-- Rounded Fill Buttons END -->

      <!-- Outline Buttons START -->
      <h2 class="sui_doc_subtitle">Outline Button</h2>
      <p class="sui_doc_p">
        similar to standard button, with lighter background
      </p>
      <div class="sui_btn_wrapper">
        <button class="sui_btn btn_outline">Outline Button</button>
        <button class="sui_btn btn_outline btn_v1">Outline Variant 1</button>
        <button class="sui_btn btn_outline btn_v2">Outline Variant 2</button>
        <button class="sui_btn btn_outline btn_v3">Outline Variant 3</button>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <button class="sui_btn btn_outline">Outline Button</button>
          <button class="sui_btn btn_outline btn_v1">Outline Variant 1</button>
          <button class="sui_btn btn_outline btn_v2">Outline Variant 2</button>
          <button class="sui_btn btn_outline btn_v3">Outline Variant 3</button>
        </script>
      </div>
      <!-- Outline Buttons END -->

      <!-- Outline Rounded Buttons START -->
      <h2 class="sui_doc_subtitle">Outline Rounded Button</h2>
      <p class="sui_doc_p">similar to outline button, with rounded edges</p>
      <div class="sui_btn_wrapper">
        <button class="sui_btn btn_outline btn_rnd">
          Outline Rounded Button
        </button>
        <button class="sui_btn btn_outline btn_rnd btn_v1">
          Outline Rounded V1
        </button>
        <button class="sui_btn btn_outline btn_rnd btn_v2">
          Outline Rounded V2
        </button>
        <button class="sui_btn btn_outline btn_rnd btn_v3">
          Outline Rounded V3
        </button>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <button class="sui_btn btn_outline btn_rnd">Outline Rounded Button</button>
          <button class="sui_btn btn_outline btn_rnd btn_v1">Outline Rounded V1</button>
          <button class="sui_btn btn_outline btn_rnd btn_v2">Outline Rounded V2</button>
          <button class="sui_btn btn_outline btn_rnd btn_v3">Outline Rounded V3</button>
        </script>
      </div>
      <!-- Outline Rounded Buttons END -->

      <!-- Outline Rounded Fill Buttons START -->
      <h2 class="sui_doc_subtitle">Outline Rounded Fill Button</h2>
      <p class="sui_doc_p">
        similar to outline rounded button, with a background fill on hover
      </p>
      <div class="sui_btn_wrapper">
        <button class="sui_btn btn_outline btn_rnd btn_fill">
          Outline Rounded Fill
        </button>
        <button class="sui_btn btn_outline btn_rnd btn_fill btn_v1">
          Outline Rounded Fill V1
        </button>
        <button class="sui_btn btn_outline btn_rnd btn_fill btn_v2">
          Outline Rounded Fill V2
        </button>
        <button class="sui_btn btn_outline btn_rnd btn_fill btn_v3">
          Outline Rounded Fill V3
        </button>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <button class="sui_btn btn_outline btn_rnd btn_fill">Outline Rounded Fill</button>
          <button class="sui_btn btn_outline btn_rnd btn_fill btn_v1">Outline Rounded Fill V1</button>
          <button class="sui_btn btn_outline btn_rnd btn_fill btn_v2">Outline Rounded Fill V2</button>
          <button class="sui_btn btn_outline btn_rnd btn_fill btn_v3">Outline Rounded Fill V3</button>
        </script>
      </div>
      <!-- Outline Rounded  Fill Buttons END -->

      <!-- Text and Buttons with Icon START -->
      <h2 class="sui_doc_subtitle">
        Text, Floating button and button with Icon
      </h2>
      <p class="sui_doc_p">icon can be used in all types of button:</p>
      <p class="sui_doc_p">
        PS: <a href="https://fontawesome.com/" class="btn_txt">Font Awesome</a>
        icon is used in this demo
      </p>
      <div class="sui_btn_wrapper">
        <button class="sui_btn btn_txt">Text Button</button>
        <button class="sui_btn">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <button class="sui_btn">
          <i class="btn_icon fas fa-shopping-cart"></i>
          Add to Cart
        </button>
        <button class="sui_btn btn_rnd btn_v1">
          <i class="btn_icon fas fa-shopping-cart"></i>
          Add to Cart
        </button>
        <button class="sui_btn btn_rnd btn_fill btn_v2">
          <i class="btn_icon fas fa-shopping-cart"></i>
          Add to Cart
        </button>
        <button class="sui_btn btn_rnd btn_outline btn_v3">
          <i class="btn_icon fas fa-shopping-cart"></i>
          Add to Cart
        </button>
        <button class="sui_btn_float">
          <i class="fas fa-comments"></i>
        </button>
      </div>

      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <button class="sui_btn btn_txt">Text Button</button>

          <button class="sui_btn">
            <i class="fas fa-shopping-cart"></i>
          </button>

          <button class="sui_btn">
            <i class="btn_icon fas fa-shopping-cart"></i>
            Add to Cart
          </button>

          <button class="sui_btn btn_rnd btn_v1">
            <i class="btn_icon fas fa-shopping-cart"></i>
            Add to Cart
          </button>

          <button class="sui_btn btn_rnd btn_fill btn_v2">
            <i class="btn_icon fas fa-shopping-cart"></i>
            Add to Cart
          </button>

          <button class="sui_btn btn_rnd btn_outline btn_v3">
            <i class="btn_icon fas fa-shopping-cart"></i>
            Add to Cart
          </button>

          <button class="sui_btn_float">
            <i class="fas fa-comments"></i>
          </button>
        </script>
      </div>
      <!-- Text and Buttons with Icon END -->
    </main>
    <script src="/utils/prism.js"></script>
    <script src="/pages/nav.js"></script>
  </body>
</html>
